.recent-list {
    list-style: none;
    width: 100%;
    margin-top: 1em;
    
    li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        line-height: 3em;

        .change-date {
            font-weight: 600;
            width: 10em;
        }

        .change-description {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 10em;
            line-height: 1.5em;
            padding-top: 0.75em;
        }

        .change-user {
            width: 10em;
            text-align: right;
        }
    }
}

.recent-header {
    display: inline-block;
    margin-right: 1em;
}

.recent-days {
    display: none;

    & ~ .recent-days-label .recent-icon-7{
        display: block;
        
    }
    & ~ .recent-days-label .recent-icon-30{
        display: none;
    }
    &:checked ~ .recent-days-label .recent-icon-7{
        display: none;
    }
    &:checked ~ .recent-days-label .recent-icon-30{
        display: block;
    }

    ~ .recent-list .month  {
        max-height: 10000px;
        overflow: hidden;
        transition: all 0.3s;
    }

    &:checked ~ .recent-list .month  {
        display: none;
        max-height: 0;
    }
}
.recent-icon {
    width: 24px;
    height: 24px;
    margin-top: -0.5em;
    margin-right: 0.5em;
}

.recent-icon-30,
.recent-icon-7 {
    cursor: pointer;
}